<!-- Hero section -->
<section class="hero">
  <div class="container">
    <div class="hero__image" style="background-image: url('');"></div>
    <div class="hero__text container-pall">
      <h1>All your movies in one place</h1>
      <p>
        Discover a movie lover's paradise at our website, where you can bookmark and save all your favorite films with just a click.
      </p>
      <%= link_to "Make A New List", new_list_path, class: "button" %>
    </div>
  </div>
</section>
